*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sale{
    background: red;
    text-align: center;
    color: white;
    height: 10rem;
    width: 70rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}